.site-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 68rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spacer-full {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.hero-container {
    display: flex;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1739989934209-fc27e42bb76c?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.hero-image {
    max-width: 50rem;
}

.flexbox-container {
    display: flex;
    justify-content: center;
}

.spacer-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.flexbox-image {
    width: 13rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}